#Postgres configs
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=postgres

#Airflow configs
AIRFLOW_UID=1000 #enter your user id here, you can find it by running the command `id -u`
